/* 1. Reset Essencial */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    padding: 2rem; /* Afasta o conteúdo das bordas da tela */
}

/* 2. O Contentor Principal */
.container {
    max-width: 500px;
    margin: 0 auto; /* Centraliza o painel na tela */
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
}

.titulo-sessao {
    margin-bottom: 1.5rem; /* Espaço entre o título e o primeiro card */
    text-align: center;
}

/* 3. A Mágica do Box Model nos Cards */
.alerta-card {
    padding: 15px;  /*Respiro Interno para o texto não sufocar */
    margin-bottom: 1rem; /* Espaço interno entre um alerta e outro */
    border-left: 5px solid; /* Borda de destaque lateral */
    font-size: 0.9rem;
}

.critico {
    background-color: #fdeded;
    color: #5f2120;
    border-left-color: #d32f2f;
}

.aviso {
    background-color: #fff4e5;
    color: #663c00;
    border-left-color: #ed6c02;
    margin-bottom: 0; /*Remoce a margem do último item */
}