body {
    font-family: sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    width: 350px;
}

#lista-servidores {
    list-style: none;
    padding: 0;
}

.item {
    padding: 12px;
    border-bottom: 1px solid #eee;
    color: #333;
}

/* Classes que o JavaScript irá aplicar */
.alerta {
    color: #e67e22;
    font-weight: bold;
}

.critico {
    background-color: #ff3333;
    color: white;
    font-weight: bold;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 15px;
}